<div class="row">
  <div class="col-md-12 my-3">
    <app-card [autoHeight]="false" *ngIf="ready; else notReady">
      <button class="btn btn-secondary" (click)="goCreate()" *ngIf="canEdit">
        Create Card
      </button>
      <ng-container *ngIf="!hasCard">
        <p>No cards available.</p>
      </ng-container>
      <ng-container *ngIf="hasCard">
        <p>
          <small>Showing {{ cards.length }} card(s)</small>
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Card</th>
              <ng-container *ngIf="canEdit">
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let card of cards">
              <td>{{ buildCardDescription(card) }}</td>
              <ng-container *ngIf="canEdit">
                <td>
                  <button class="btn btn-secondary" (click)="goDetails(card)">
                    Details
                  </button>
                </td>
                <td>
                  <button class="btn btn-secondary" (click)="goEdit(card)">
                    Edit
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-secondary"
                    (click)="requestDelete(card)"
                  >
                    Delete
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </app-card>
  </div>
</div>

<ng-template #notReady>
  <p *ngIf="error">Error occured :(</p>
  <app-loading *ngIf="!error"></app-loading>
</ng-template>
