<app-header [title]="'Virtual Card Decks'"></app-header>
<app-body>
  <div class="row" *ngIf="ready; else loading">
    <div class="col-md-4 my-3">
      <app-card [autoHeight]="false" [title]="'Draw a Card'">
        <p>
          Traps:
        </p>
        <p>
          <button class="btn btn-secondary" (click)="drawThink()">
            Think Together
          </button>
          <button class="btn btn-secondary" (click)="drawOrders()">
            Orders
          </button>
          <button class="btn btn-secondary" (click)="drawAnagrams()">
            Anagrams
          </button>
        </p>
        <hr />
        <p>
          Encounters:
        </p>
        <p>
          <button class="btn btn-secondary" (click)="drawHunter()">
            Hunter
          </button>
          <button class="btn btn-secondary" (click)="drawGenerator()">
            Generator
          </button>
        </p>
      </app-card>
    </div>
    <div class="col-md-8 my-3">
      <app-spectre-card [card]="selectedCard"></app-spectre-card>
    </div>
  </div>
</app-body>

<ng-template #loading>
  <div class="row">
    <div class="col-md-12 my-3">
      <app-loading></app-loading>
    </div>
  </div>
</ng-template>
